{% extends 'file.html' %}
{% block title %}
Audi
{% endblock %}
{% block main %}
    <div class="audi_text">
        <div class="p-md-5 mb-4 rounded text-white fw-bold">
            <div class="col-md-7 px-0">
              <h1 class="display-5 fw-bold"><font >What do the 4 rings of Audi mean?</font></h1>
              <p class="lead my-5"> <font color="white" size="5">Four interlocking rings symbolised the merger of four automobile manufacturers
                  based in the German state of Saxony: Audi, DKW, Horch and Wanderer became Auto Union AG.
                  Here are brief details of the roots of today's AUDI AG. The company Wanderer originated as
                  a bicycle repair shop.</font></p>
            </div>
        </div>
    </div>
    <main class="px-3 p-4 p-md-5 mb-4 rounded text-white fw-bold">
        <h1><font color="white">
            What are the Audi core values?</font>
        </h1>
        <p class="lead"><font color="white" size="5">Appreciation, openness, responsibility and integrity are the corporate values of Audi.
            These values illustrate that the Audi Group relies on teamwork, embraces new challenges and embodies
            diversity. In addition, Audi has set itself the goal of being a company that
            bears responsibility – for the environment and society.</font>
    </main>
{% endblock %}