{% extends 'file.html' %}
{% block title %}
BMW
{% endblock %}
{% block main %}
<div class="bmw_text">
    <div class="p-md-5 mb-4 rounded text-white fw-bold">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-arial fw-bold">
              Bayerische Motoren Werke
          </h1>
          <p class="lead my-3"> <font size="5">BMW was created in 1917 from the Munich firm Rapp-Motorenwerke.
              The company was incorporated into Knorr-Bremse AG in 1920 before being refounded as BMW AG in 1922.
              It was the successor of Bayerische Flugzeugwerke AG, founded in 1916. 1916 is therefore considered
              BMW's founding year.</font>
          </p>
        </div>
    </div>
</div>
<div>
    <main class="px-3 p-4 p-md-5 mb-4 rounded text-white fw-bold">
        <h1><font color="white" size="5">
            What is interesting about BMW?</font>
        </h1>
        <p class="lead"><font color="white" size="5">BMW's headquarters in Germany was built to resemble a 4-cylinder engine.
            BMWs use many different sizes of engines today, but the 4-cylinder was the engine that
            drove BMW's early success. – BMW built its first electric vehicle in 1972. This car, the BMW
            1602 Elektro-Antrieb, was unveiled at the 1972 Munich Olympics.</font>
        </p>
    </main>
</div>
{% endblock %}
