{% extends 'file.html' %}
{% block title %}
Mercedes-Benz
{% endblock %}
{% block main %}

<div class="mercedes_text">
    <div class="p-md-5 mb-4 rounded text-white fw-bold">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-arial fw-bold"><font color="#212529" > History of Mercedes-Benz</font></h1>
          <p class="lead my-3"><font color="#212529" size="5">In 1901, he created the Benz Patent Motorwagen, which was the first gasoline
              car and introduced it to the public under Daimler Motors Corporation. Then, in 1902, an Austrian
              automobile entrepreneur, Emil Jellinek, trademarked the name “Mercedes” after Mercedes Jellinek,
              his daughter.</font>
          </p>
        </div>
    </div>
</div>
<main class="px-3 p-4 p-md-5 mb-4 rounded text-white fw-bold">
    <h1><font color="white" size="5">
        What is the basic information about Mercedes-Benz?</font>
    </h1>
    <p class="lead"><font color="white" size="5">It develops, manufactures and distributes premium and luxury cars and vans. The company
        also offers various services such as financing, leasing, car subscription, car rental,
        fleet management, insurance brokerage, digital services for charging and payment, besides innovative
        mobility services.</font>
    </p>

</main>
{% endblock %}
